@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative text-base font-light text-slate-600 bg-[url(/6093.svg)] bg-top bg-no-repeat bg-contain
  }
}

@layer components {
  .nav-item {
    @apply flex basis-auto flex-col sm:flex-row text-xl;
  }
  .nav-link {
    @apply block p-2 sm:p-3 transition-all duration-300;
  }
  .nav-active {
    @apply font-medium text-slate-900;
  }
  .border-gradient {
    background: linear-gradient(white, white) padding-box,
      linear-gradient(to top, #b6dbf4, #b6dbf400) border-box;
    border: 3px solid transparent;
  }
  .scale-general {
    @apply transition-all ease-in-out delay-150 duration-300 hover:translate-y-1 hover:scale-110;
  }

  .service-box {
    @apply p-6 bg-white text-center rounded-2xl border border-b-4 border-blue-100 transition-all ease-in-out delay-150 duration-300 hover:cursor-pointer hover:shadow-xl;
  }

  .form-control {
    @apply block w-full py-3 px-5 text-lg rounded-lg border-0 text-gray-900 ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder:text-gray-400;
  }

  .error {
    @apply ring-red-500 focus:ring-red-500;
  }

  .animate__delay-75ms {
    animation-delay: 75ms;
  }
  .animate__delay-100ms {
    animation-delay: 100ms;
  }
  .animate__delay-150ms {
    animation-delay: 150ms;
  }
  .animate__delay-200ms {
    animation-delay: 200ms;
  }
  .animate__delay-300ms {
    animation-delay: 300ms;
  }
  .animate__delay-500ms {
    animation-delay: 500ms;
  }
  .animate__delay-700ms {
    animation-delay: 700ms;
  }
  .animate__delay-1000ms {
    animation-delay: 1000ms;
  }
}

@media only screen and (max-width: 576px) {
  .nav-item {
    @apply basis-full flex-grow;
  }
}
